doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Future of JavaScript is Universal

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }

  body

    article

      section
        h2 The Future of JavaScript
        h4 Is Universal
        h3 With your host
        h4
          a(href='https://twitter.com/MylesBorins') @MylesBorins
        p  Node+JS Interactive 2019
        
      section(data-bespoke-backdrop='hello')
        h1 Bonjour
        
      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px' height='200px')
      
      section
        h3 I am gainfully employed by Google as a Developer Advocate
        h4 Focusing on the Node.js ecosystem and GCP
        
        img(src='images/gcp.png' alt='Google Cloud Platform' style='background-color:white;')
        
        h5.headroom The opinions expressed in this talk are solely my own

      section
        h3 The opinions expressed in this talk
        h2 might be the future

      section
        h3 The opinions expressed in this talk
        h2 might be wrong

      section
        h3 The opinions expressed in this talk
        h2 are definitely opinions

      section
        h1 What is Universal JavaScript?

      section
        h1 What is Isomorphic JavaScript?

      section
        h1 Is there a difference?

      section
        h1 Why write Universal JavaScript?

      section
        h1 What gets in the way of Universal JavaScript
      
      section
        h2 Othering

      section
        h1 The Browser vs. Node.js
      
      section
        h1 Venn Diagram
      
      Section
        h1 Graph
      
      section
        h1 There are many environments
      
      section
        h1 Deno
      
      section
        h1 Edge Workers
      
      section
        h1 Moddablee
      
      section
        h1 gsuite + BigQuery

      section
        h3 Platform Specific Requirerements
        h2 Are unavoidable
      
      section
        h3 Platform Specific Requirerements
        h2 Are not a reason to give up

      section
        h1 Streams
      
      section
        h1 Event Emmiters

      section
        h1 Where does the platform end?

      section
        h1 Nihilistic transpilation
      
      section
        h3 Perhaps Universal JavaScript
        h2 Is a platform concern

      section
        h1 What even is JavaScript
      
      section
        h2 TC39
        h3 Specifying the core language

      section
        h3 Primordials
        ul
          li.hide
          li Number
          li Array
          li Object
          li Date

      section
        h3 Specified Modules
        h2 But not all the semantics
        h3 Much left up to host

      section
        h3 The future at TC39?
        ul
          li.hide
          li Built in Modules
          li Standard Library
          li Module Attributes

      section
        h1 W3C

      section
        h3 What has been standardized at W3C?
        ul
          li.hide
          li HTML
          li CSS
          li WASM
          li Various Media APIS

      section
        h1 WICG

      section
        h3 The future at W3C?
        ul
          li.hide
          li import maps
          li WASI

      section
        h1 WHATWG

      section
        h3 What has been standardized at WHATWG?
        ul
          li.hide
          li console
          li url
          li fetch
          li WHATWG Streams
          li HTML
        
      section
        h3 The future at WHATWG?
        ul
          li.hide
          li JSON Modules
          li HTML Modules

      section
        h2 Some Universal APIs being worked on?
        ul
          li.hide
          li webcrypto
          li WHATWG Streams
          li fetch

      section
        h2 What is the role of tools?

      section
        h2 The interface vs. Plumbing

      section
        h2 Universal as a platform ethos

      section
        h2 Where do we collaborate on the meta?
        
      section
        h2 How do we find a shared vision?

      section
        h2 Developers shouldn't have to know

      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='20%')
        h4 @MylesBorins

    script(src='build/build.js')
